IGXAuthoringToolbar/Connected Services/SchemaDesignerService/SchemaDesignerServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:IngeniuxCMService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchemaDesignerServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_SchemaDesignerServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="urn:IngeniuxCMService" location="http://bdsandbox/SOAP/SchemaDesignerServices.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_SchemaDesignerServices" type="i0:SchemaDesignerServices">
    <wsp:PolicyReference URI="#WSHttpBinding_SchemaDesignerServices_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UploadThumbnail">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/UploadThumbnail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSchemas">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/UploadSchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaFieldCandidates">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaFieldCandidates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFavoriteSchemaFields">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetFavoriteSchemaFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFavoriteSchemaField">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/AddFavoriteSchemaField" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFavoriteSchemaField">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/RemoveFavoriteSchemaField" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ToggleFavoriteAvailability">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/ToggleFavoriteAvailability" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaChangeEfforts">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaChangeEfforts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaChangeEffortsForComponentEmbeds">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaChangeEffortsForComponentEmbeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaChangeEffortsForComponentUnit">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaChangeEffortsForComponentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemasSimple">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemasSimple" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemas">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSchemas">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/DeleteSchemas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaDetails">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSchema">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/SaveSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaOutofSyncPages">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaOutofSyncPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaOutofSyncAssets">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaOutofSyncAssets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaOutOfSyncComponentEmbeds">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaOutOfSyncComponentEmbeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaOutofSyncComponentContentUnits">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaOutofSyncComponentContentUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaPages">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaPages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaAssets">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaAssets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaComponentEmbeds">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaComponentEmbeds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSchemaComponentContentUnits">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetSchemaComponentContentUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncPagesToSchema">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/SyncPagesToSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncComponentEmbedsToSchema">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/SyncComponentEmbedsToSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncComponentUnitsToSchema">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/SyncComponentUnitsToSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContentUnits">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/GetContentUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBlockedUserGroupsToSchema">
      <soap12:operation soapAction="urn:IngeniuxCMService/SchemaDesignerServices/SetBlockedUserGroupsToSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchemaDesignerServices">
    <wsdl:port name="WSHttpBinding_SchemaDesignerServices" binding="tns:WSHttpBinding_SchemaDesignerServices">
      <soap12:address location="http://bdsandbox/SOAP/SchemaDesignerServices.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://bdsandbox/SOAP/SchemaDesignerServices.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>